@tailwind base;
@tailwind components;
@tailwind utilities;

/* Harita ve ana gövde için zorunlu sıfırlamalar ve Dark Mode varsayılanı */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #1d1d1f; /* brand-dark rengimiz */
  color: #ffffff; /* brand-light rengimiz */
  font-family: 'Inter', sans-serif;
}